#about {
	background-color: var(--main-orange);
	
}

#about-container {
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#about-text-container {
	margin: 2em;
	max-width: 66%;
}



#about-profile-container {
	width: auto;
	text-align: center;
}

#about-profile-img {
	height: 275px;
	width: 275px;
	border-radius: 50%;
	border: solid black 3px;
}

#about-icon-container {
	display: flex;
	justify-content: center;
}

#about-icon-container a {
	width: 35px;
	height: 35px;
	margin-left: 3px;
	margin-right: 3px;
	line-height: 40px;
	text-align: center;
	background-color: var(--main-black);
	border-radius: 100%;
	color: var(--main-white);
}

#about-icon-container a:hover {
	background-color: var(--main-light-gray);
}
#about-title-container {
	margin-bottom: 1em;
}

#about-title {
	margin-bottom: 0.5em;
}
