#about {
	background-color: var(--main-orange);
	
}

#about-container {
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#about-text-container {
	margin: 2em;
	max-width: 66%;
}

#about-profile-container {
	width: auto;
	text-align: center;
}

#about-profile-img {
	height: 275px;
	width: 275px;
	border-radius: 50%;
	border: solid var(--main-dark-gray) 3px;
}

#about-icon-container {
	display: flex;
	justify-content: center;
}

#about-icon-container a {
	width: 2.75rem;
	height: 2.75rem;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 62px;
	text-align: center;
	background-color: var(--main-black);
	border-radius: 100%;
	color: var(--main-white);
}

#about-icon-container a:hover {
	background-color: var(--main-light-gray);
}

#about-icon-container a svg {

	width: 30px;
	height: 30px;
}


#about-title-container {
	margin-bottom: 1em;
}


