#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-bottom: 3px solid var(--main-black);
	background-image: url("../la3.jpg");
	background-repeat: no-repeat;
	*background-attachment: scroll;
	background-attachment: fixed;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 85vh;

}

#header-container {
	color: var(--main-black);
	text-align: center;
}

#header-profile-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#header-profile {
	border: 3px solid var(--main-orange);
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin-top: 2vh;
}
