.hobbies-display-container {
	border: solid 2px var(--main-dark-gray);
	border-radius: 2px;
}

.hobbies-display-container img {
	width: 100%;
	height: auto;
}

.hobbies-display-container h4 {
	text-align: center;
}

.hobbies-display-text-container {
	margin: 0.25em;
}


