.project-display {
	display: flex;
	flex-direction: row;
	margin-top: 5vw;
}

.project-display-bar {
	margin-left: 1vw;
	padding-left: 2px;
	padding-right: 1px;
	margin-right: 1vw;
	background-color: var(--main-dark-gray);
}

@media only screen and (max-width: 1000px) {
	.project-display {
		flex-direction: column;

	}

	.project-display img{
		min-width: 185px;
		max-width: 50%
	}

	.project-display-bar {
		margin: 0px;
		padding: 0px;
		margin-top: 1vh;
		margin-bottom: 1vh;
		padding-top: 4px;


		width: 100%;
	}

}
