.skills-display-icon {
	background-color: var(--main-black);
	border-radius: 100%;
	height: 7rem;
	width: 7rem;
	line-height: 170px;
	color: var(--main-white)
}

.skills-display-icon svg {
	height: 70px;
	width: 70px;
}

.skills-display-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.skills-display-img {
	height: 7em;
	width: 7em;
	border-radius: 50%;
}
