#skills {
	background-color: var(--main-orange);
}

#skills-header-container {
	text-align: center;
}

#skills-title {
	margin-bottom: 1em;
}

.skills-description {
	margin-top: 1em;
}

#skills-display-wrapper {
	margin-left: auto;
	margin-right: auto;
}

#skills-list-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.skills-item-container {
	margin-top: 6rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	max-width: 33%;
}



@media only screen and (max-width: 800px) { 
	.skills-item-container {
		max-width: none;
	}
}
